<!DOCTYPE html>
<html>
    <head>
        <title>Deploy microservice python web app</title>
    </head>
<body>

<h1>SUMMARY</h1>
<p>This is python web app using flask framework. </p>

<h1>HOST</h1>
<p>Hostname is {{ host_name_html }} with IP address {{ host_ip_html }} </p>

<h1>REQUIREMENTS</h1>
<p> * Install Python <br>
    * Create Python venv <br>
    * Install python vs code extension <br>
    * Flask app creation <br>
    * Jinja templeting for dnamic web page <br>
    * pip to freeze dependencies <br>
    * Builddocke image through dockerfile <br>
    * Create docker compose file <br>
    * Create Kube manifest file <br>
    * Create helm chart 
</p>
</body>
</html>